{% extends "layout.html" %}

{% block content %}
    <main class="cards">
        <div class="card">
            <div class="card-header">
                <h3>Woops! Got lost looking for a tasty Italian meal?</h3>
            </div>
            <div class="card-body">
                <img src="assets/images/404.png" class="img" alt="Food spilled">
                <p>This is embarassing! This page doesn't exist.</p>
                <a href="main.php" class="btn">Go back to the home page</a>
            </div>
        </div>
    </main>
{% endblock %}