{% extends "layout.html" %}

{% block menu %}
    {% include 'dropdown.html' %}
{% endblock %}

{% block content %}

<div class="page-title">
    <h1>Contact Us</h1>
</div>

<div class="contacts">
<h2>
    Telephone Number: +33 6 40 46 22 72<br>
    Email: lacantina@gmail.com<br>
    Contact Person: Valentin Bonnet<br>
    Business Address: Avenue des Champs Elysées, Paris, 75000 France <br>
</h2>
</div>

<div class="contact-form">
    <div class="form-title">
        <h2>Send us a Message</h2>
        <p>* required field</p><br>
        </div>

    <div class="form-body">
        <span class="validation">{{ validations.pagemessage }}</span>
        <form id="contact" method="POST" action="../contact.php">   
        <div class="row">
            <div class="col-25">                                     
                <label for="type">Please select query type *</label>
            </div>
            <div class="col-75">
                <select id="type" name="type">
                    <option value="complaint">Complaint</option>
                    <option value="information">Information about Restaurant</option>
                    <option value="other">Other</option>
                </select>
            </div>                 
            <span class="validation">{{ validations.typeError }}</span>
        </div>
        <div class="row">
            <div class="col-25">                                     
                <label for="email">Please enter your email address *</label>
            </div>
            <div class="col-75">
                <input placeholder="your@email.com" type="email" name="email" id="email" required value="">
                <span class="validation">{{ validations.emailErr }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-25">                                        
                <label for="message">Your message *</label>
            </div>
            <div class="col-75">
                <textarea maxlength="150" required id="message" name="message" placeholder="Write something.."></textarea>
                <span class="validation">{{ validations.messageErr }}</span>
            </div>  
        </div>    
        <div class="row">
            <input type="submit" value="Submit">
        </div>                    
    </form>
    <br>
    <a href="main.php" class="btn">Go back to the home page</a>
    </div>
</div>



<script src="" async defer></script>
{% endblock %}