<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>La Cantina - Bringing an Authentic Taste of Italy to Paris</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="shortcut icon" href="favicon1.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Martel:wght@700&family=Outfit&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="title-box">
                <h1>La Cantina</h1>
                <p>L'Italie n'a jamais été si proche !</p>
            </div>

            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="../assets/images/header2.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header1.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header4.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header3.jpeg"></div>
                </div>
            </div>
        </header>
        
        <div id="options" class="button-options">
            <nav class="options">
                <ul>
                    <li class="nav-item menu"><a href="menu.html">Menu</a></li>
                    <li class="nav-item reservation"><a href="reservation.html">Reservations</a></li>
                    <li class="nav-item contact us"><a href="contact.html">Contact Us</a></li>
                    <li class="nav-item favorites"><a href="favorites.html">Favorites</a></li>
                </ul>
            </nav>
        </div>

        <div class="about">
            <h1>About Us</h1>
            <h2>We are an Italian restaurant in the heart of Paris aiming to deliver
                an authentic taste of Italy to the most beautiful city in the world.
            </h2>
            <br>
            <h2>
                Co-owners Lars Jensen, Katia Jaganeau, and Valentin Bonnet all met while 
                studying at the University of Malta on a semester exchange. Brought together 
                by their love of the culinary arts, they decided to bring their favorite cuisine,
                Italian, to the home country of Valentin and Katia. They pour their very
                heart and soul into every dish, ensuring that the taste of the food will
                immediately transport you into the Italian countryside. It's an experience
                you simply can't miss out on.
            </h2>
            <br>
        
        <div class="hours">
            <h1>Hours</h1>
            <h2>Tuesday - Sunday:</h2>
            <h2>20h to 0h</h2>
            <br>
        </div>

        <div class="address">
            <h1>Address</h1>
            <h2>Rue des Champs Elysées, Paris, 75000 France</h2>
            <br>
        </div>

        <footer>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.2262297350617!2d2.2952776760201576!3d48.87296369968146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc4f8007851%3A0x5aa1a787f38f64f6!2sAv.%20des%20Champs-%C3%89lys%C3%A9es%2C%2075008%20Paris%2C%20France!5e0!3m2!1sen!2smt!4v1683715326217!5m2!1sen!2smt" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>&copy; 2023 - Design by Valentin </p>
        </footer>

    </body>
</html>