{% extends "layout.html" %}

{% block menu %}
    {% include 'dropdown.html' %}
{% endblock %}

{% block content %}

    <div class="page-title">
        <h1>Menu</h1>
    </div>

    <main class="cards">
        {% for dish in menu %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ dish.name_meal }} ({{dish.type_meal}})</h3>
                </div>
                <div class="card-body">
                    <img src="{{ dish.img_path }}" class="img" alt="{{ dish.name }}">
                    <p>{{ dish.price }}</p>
                    <p>{{ dish.description }}</p> 
                    <a href="details.php?a={{ dish.meal_id }}" class="btn">Read more</a>
                </div>
            </div>
        {% endfor %}
    </main>

{% endblock %}