<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menu</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="shortcut icon" href="favicon1.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Martel:wght@700&family=Outfit&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="title-box">
                <h1>La Cantina</h1>
                <p>L'Italie n'a jamais été si proche !</p>
            </div>

            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="../assets/images/header2.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header1.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header4.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header3.jpeg"></div>
                </div>
            </div>

            <div class="page-title">
                <h1>Menu</h1>
            </div>
        </header>


        <div id="sticky-header" class="section-menu sticky">
            <nav class="menu">
                <ul>
                    <li class="nav-item starters"><a href="#starters">Starters</a></li>
                    <li class="nav-item mains"><a href="#mains">Mains</a></li>
                    <li class="nav-item desserts"><a href="#desserts">Desserts</a></li>
                    <li class="nav-item drinks"><a href="#drinks">Drinks</a></li>
                </ul>
            </nav>
        </div>

        <main id="main">

            <section id="starters" class="starters">
                <div class="item">

                </div>

            </section>

            <section id="mains" class="mains">

                <div class="item">

                </div>

            </section>

            <section id="desserts" class="desserts">

                <div class="item">
                </div>

            </section>

            <section id="drinks" class="drinks">

                <div class="item">
                </div>

            </section>

        
            <script src="../assets/js/stickyscroll.js"></script>
    </body>
</html>