<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reservation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="title-box">
                <h1>La Cantina</h1>
                <p>L'Italie n'a jamais été si proche !</p>
            </div>

            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="../assets/images/header2.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header1.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header4.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header3.jpeg"></div>
                </div>
            </div>

        </header>

        {% block menu %}
            {% include 'dropdown.html' %}
        {% endblock %}

        <div class="page-title">
            <h1>Make a Reservation</h1>
        </div>

        <div class="reservations-form">
            <div class="form-title">
                <h2>Make a Reservation</h2>
                <p>* required field</p><br>
                </div>

            <div class="form-body">
                <span class="validation">{{ validations.pagemessage }}</span>
                <form id="contact" method="POST" action="../reservation.php">   
                <div class="row">
                    <!-- Date -->
                    <div class="col-25">                                     
                        <label for="date">Please enter the Desired Date *</label>
                    </div>
                    <div class="col-75">
                        <input type="date" name="date" id="date" required value="">
                        <span class="validation">{{ validations.dateErr }}</span>
                    </div>
                </div>
                <div class="row">
                    <!-- Time -->
                    <div class="col-25">                                     
                        <label for="date">Please enter the Desired Time *</label>
                    </div>
                    <div class="col-75">
                        <select id="time" name="time" required>
                            <option value="" disabled selected>Select a Time</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <!-- Name -->
                    <div class="col-25">                                     
                        <label for="name">Please enter your Name *</label>
                    </div>
                    <div class="col-75">
                        <input placeholder="your name" type="text" name="name" id="name" required value="">
                        <span class="validation">{{ validations.nameErr }}</span>
                    </div>
                </div>
                <div class="row">
                    <!-- Email -->
                    <div class="col-25">                                     
                        <label for="email">Please enter your Email Address *</label>
                    </div>
                    <div class="col-75">
                        <input placeholder="your@email.com" type="email" name="email" id="email" required value="">
                        <span class="validation">{{ validations.emailErr }}</span>
                    </div>
                </div>

                <div class="row">
                    <!-- Number of Guests -->
                    <div class="col-25">                                     
                        <label for="guests">Please enter the Number of Guests (1-10) *</label>
                    </div>
                    <div class="col-75">
                        <input type="number" id="guests" name="guests" min="1" max="10" required>
                        <span class="validation">{{ validations.guestsErr }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">                                        
                        <label for="message">Please enter any Special Requests/Allergies </label>
                    </div>
                    <div class="col-75">
                        <textarea maxlength="150" id="message" name="message" placeholder="Special requests.."></textarea>
                        <span class="validation">{{ validations.messageErr }}</span>
                    </div>  
                </div>    
                <div class="row">
                    <input type="submit" value="Submit">
                </div>                    
            </form>
            <br>
            <a href="templates/layout.html" class="btn">Go back to the home page</a>
            </div>
        </div>
        
        <script src="../assets/js/timeoptions.js" async defer></script>
    </body>
</html>