<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reservation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="title-box">
                <h1>La Cantina</h1>
                <p>L'Italie n'a jamais été si proche !</p>
            </div>

            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="../assets/images/header2.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header1.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header4.jpeg"></div>
                    <div class="slide"><img src="../assets/images/header3.jpeg"></div>
                </div>
            </div>

        </header>

        <div class="page-title">
            <h1>Make a Reservation</h1>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>