<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>La Cantina - Italien Restaurant</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@700&family=Outfit&display=swap" rel="stylesheet">
</head>
    <body>

        <header>
            <div class="title-box">
                <h1>La Cantina</h1>
                <p>L'Italie n'a jamais été si proche !</p>
            </div>

            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="2.jpeg"></div>
                    <div class="slide"><img src="1.jpeg"></div>
                    <div class="slide"><img src="4.jpeg"></div>
                    <div class="slide"><img src="3.jpeg"></div>
                </div>
            </div>
        </header>

            <div class="section-menu">
                <nav class="menu">
                    <ul>
                        <li class="nav-item starters"><a href="">Starters</a></li>
                        <li class="nav-item mains"><a href="">Mains</a></li>
                        <li class="nav-item desserts"><a href="">Desserts</a></li>
                        <li class="nav-item drinks"><a href="">Drinks</a></li>
                    </ul>
                </nav>
            </div>

            <section id="starters" class="starters">

                <div class="item">
                    <img src="s1.jpeg">
                    <div class="item-info">
                        <h3>Bruschetta</h3>
                        <hr>
                        <p>Cherry Tomatoes, Garlic, Basil and Pesto</p>
                        <p class="price">5,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s2.jpeg">
                    <div class="item-info">
                        <h3>Mozzarella in Carrozza</h3>
                        <hr>
                        <p>Deep Fried Mozzarella with Bread Crumbs</p>
                        <p class="price">7,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s3.jpeg">
                    <div class="item-info">
                        <h3>Caprese salad></h3>
                        <hr>
                        <p>Tomatoes and Buffalo Mozzarella</p>
                        <p class="price">9,99e</p>
                    </div>
                    
                    
                </div>
            </section>

            <section id="mains" class="mains">

                <div class="item">
                    <img src="s1.jpeg">
                    <div class="item-info">
                        <h3>Bruschetta</h3>
                        <hr>
                        <p>Cherry Tomatoes, Garlic, Basil and Pesto</p>
                        <p class="price">5,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s2.jpeg">
                    <div class="item-info">
                        <h3>Mozzarella in Carrozza</h3>
                        <hr>
                        <p>Deep Fried Mozzarella with Bread Crumbs</p>
                        <p class="price">7,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s3.jpeg">
                    <div class="item-info">
                        <h3>Caprese salad></h3>
                        <hr>
                        <p>Tomatoes and Buffalo Mozzarella</p>
                        <p class="price">9,99e</p>
                    </div>
                    
                    
                </div>
            </section>

            <section id="desserts" class="desserts">

                <div class="item">
                    <img src="s1.jpeg">
                    <div class="item-info">
                        <h3>Bruschetta</h3>
                        <hr>
                        <p>Cherry Tomatoes, Garlic, Basil and Pesto</p>
                        <p class="price">5,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s2.jpeg">
                    <div class="item-info">
                        <h3>Mozzarella in Carrozza</h3>
                        <hr>
                        <p>Deep Fried Mozzarella with Bread Crumbs</p>
                        <p class="price">7,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s3.jpeg">
                    <div class="item-info">
                        <h3>Caprese salad></h3>
                        <hr>
                        <p>Tomatoes and Buffalo Mozzarella</p>
                        <p class="price">9,99e</p>
                    </div>
                    
                    
                </div>
            </section>

            <section id="drinks" class="drinks">

                <div class="item">
                    <img src="s1.jpeg">
                    <div class="item-info">
                        <h3>Bruschetta</h3>
                        <hr>
                        <p>Cherry Tomatoes, Garlic, Basil and Pesto</p>
                        <p class="price">5,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s2.jpeg">
                    <div class="item-info">
                        <h3>Mozzarella in Carrozza</h3>
                        <hr>
                        <p>Deep Fried Mozzarella with Bread Crumbs</p>
                        <p class="price">7,99e</p>
                    </div>
                    
                </div>

                <div class="item">
                    <img src="s3.jpeg">
                    <div class="item-info">
                        <h3>Caprese salad></h3>
                        <hr>
                        <p>Tomatoes and Buffalo Mozzarella</p>
                        <p class="price">9,99e</p>
                    </div>
                    
                    
                </div>
            </section>
    </body>
</html>
